.car-artikel,
.artikel-us-galeri{
	margin: 30px auto;
}

.artikel-box1{
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 2);
	padding: 10px;
	margin-top: 30px;
	background-color: #fff;
	/* min-height: 900px;  */
}

.artikel-box{
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 2);
	background-color: #fff;
  	/* width: 300px; */
  	height: 650px;
  	padding: 10px;
  	position: relative;
  	margin: 10px; 
}

.artikel-box img{
	width: 100%; 
	margin-top: 10px;
	border-style: solid;
  	border-width: 1px;
}

.artikel-box span{
	float: right;
	font-size: 12px;
	color: cornflowerblue;
}

.artikel-box h2{
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 16px;
	color: blue;
	text-align: center;
}

.artikel-box h2 a{
	text-decoration: none;
}

.artikel-meta{
	font-size: 14px;
	margin-bottom: 2px;
}

.artikel-text{
	font-size: 14px;
	text-align: justify;

}

.btn-read-more{
	/* background-image: linear-gradient(to right: #1c03b5, #5c8bef); */
	background-color: cornflowerblue;
	padding: 5px 12px 8px; 
	line-height: 20px;
	font-size: 14px;
	color: #fff;
	border: none;

	position: absolute;
	bottom: 10px;
	right: 10px;
	/* float: right;
	bottom: 0; */
}

.btn-read-more:hover{
	color: #ccc;
}

/* -------------------------------- Carousel ----------------------------------- */
.carousel .carousel-control.left i {
    margin-left: -3px;
}
.carousel .carousel-control.left i {
    margin-right: -3px;
}
/* .carousel {
    margin: 5px auto;
} */

.carousel .carousel-control {
    height: 100px;
    width: 40px;
    background: none;
    margin: auto 0;
    background: rgba(0, 0, 0, 0.2);
}
.carousel .carousel-control i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}
/* 

.carousel .item {
    min-height: 330px;
    text-align: center;
    overflow: hidden;
}
.carousel .item .img-box {
    height: 160px;
    width: 100%;
    position: relative;
}
.carousel .item img {   
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.carousel .item h4 {
    font-size: 18px;
    margin: 10px 0;
}
.carousel .item .btn {
    color: #333;
    border-radius: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 16px;
}
.carousel .item .btn:hover, .carousel .item .btn:focus {
    color: #fff;
    background: #000;
    border-color: #000;
    box-shadow: none;
}
.carousel .item .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .thumb-wrapper {
    text-align: center;
}
.carousel .thumb-content {
    padding: 15px;
}

.carousel .item-price {
    font-size: 13px;
    padding: 2px 0;
}

.carousel .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.carousel .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.carousel.btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.carousel .item-price strike {
    color: #999;
    margin-right: 5px;
}
.carousel .item-price span { */
    /* color: #86bd57;
    color: #FFA233;
    font-size: 110%;
    font-weight: bold;
}
.carousel .carousel-indicators {
    bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 50%;
    border-color: transparent;
}
.carousel-indicators li {   
    background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {    
    background: rgba(0, 0, 0, 0.6);
}
.star-rating li {
    padding: 0;
}
.star-rating i {
    font-size: 14px;
    color: #ffc000;
}

/* css for news section */

/* .img-news{
    width:100%;
}  */