/* General */
.aed{
    font-family: sans-serif;
    color: grey;
    font-size: 16px;
    font-weight: bold;
}
/* ------------ */
/* Login Page ------------------------------------------------ */
.sign-up-form{
    font-family: sans-serif;
    width: 300px;
    background: #e9f7ad;
    padding: 10px;
    margin: 8% auto 0;
    text-align: center; 
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    opacity: 0.9;
}
.sign-up-form img{
    width: 70px;
    margin-top: -50px;
}
.sign-up-form h1{
    color: #1c8adb;
    margin-bottom: 30px;
}
.input-box{
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border: 1px solid #999; 
    outline: none;
}
.sign-up-form a{
    text-decoration: none;
}
.sign-up-form a:hover{
    text-decoration: underline;
}
.sign-up-form button{
    color: #fff;
    width: 80%;
    border-radius: 15px;
    padding: 10px;
    font-size: 15px;
    margin: 10px 0;
    border: none; 
    outline: none;
    cursor: pointer;
}
.sign-up-form button:hover{
    color: #666;
    text-decoration: underline;
}
.btn-daftar{
    background-color: #1c8adb;
}
/* end of Login Page */
.tombolku{
    margin: 10px auto;
    display: block;   
}

/* Login Page End ------------------------------------------------ */

.mytable th{
    font-size: 0.9em;
    padding: 5px;
    margin: 0px;
    text-align: center;
}
.mytable td{
    font-size: 0.9em;
    padding: 5px;
    margin: 0px;
    text-align: center;
}

.msgBox span{
	width: 100%;
	padding: 5px 50px;
	margin: 10px;
	font-size: 0.8em;
	font-weight: bold;
	color: red !important;
}

/* Warung Section ------------------------------------------------ */
.produk-utama{
    background-color: pink;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0 25px;
}
.barang{
    margin: 0 auto 0;
    text-align: center;
    position: relative;
    top: 30px;
}
.barang img{
    width: 250px;
}
.barang img:hover{
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}
.barang a{
    text-decoration: none;
    color: #899;
}
.barang h2{
    background-color: rgba(253, 253, 253, 0.9);
    text-align: center;
    font-size: 20px;
}
.overlay-warung{
    background-color: rgba(253, 253, 253, 0.9);
    text-align: center;
    line-height: 2;
    position: relative;
    top: -150px;
}
.separator-warung{
    width: 90px;
    height: 2px;
    margin: 0 auto;
    background-color: #ffc107;
}
.warung-box{
    border: 1px solid #999;
    /* background-color: #999; */
    height: 327px;
    margin-bottom: 35px;
}
.gambar-product{
    width: 252px;
    height: 200px;
    /* background-color: yellow; */
    overflow: hidden;
}

.gambar-product img{
    /* max-width: 100%; */
    /* display: block; */
    /* object-fit: contain; */
    width: 250px;
    height: auto;
    margin: auto;
    display:block;
    /* justify-content: center; */
}

.product-top{
    /* position: relative; */
}
.overlay-rk{
    display: block;
    opacity: 0;
    position: absolute;
    top: 50%;
    margin-left: 0;
    width: 130px;
    /* background-color: yellow; */
}
.overlay-rk .fa{
    background-color: #555;
    cursor: pointer;
    color: #000;
    height: 35px;
    width: 35px;
    font-size: 20px;
    padding: 7px;
    margin: 5%;

}
.product-top:hover .overlay-rk{
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;
}

.warung-rk h3{
    font-size: 1.3em;
    margin-top: 10px;
}

.warung-rk h4{
    font-size: 1em;
    color: red;
    font-weight: bold;
}

.warung-rk h5{
    font-family: verdana;
    font-size: 0.9em;
}
.vwarung{
    float: left;
    font-weight: bold;
    font-family: verdana;
    font-size: 0.7em;  
    padding: 0 5px;  
}
.vstock{
    float: right;
    font-weight: bold;
    font-family: verdana;
    font-size: 0.7em;  
    padding: 0 5px;  
}
.product-btm button {
    border: none;
    outline: 0;
    padding: 5px;
    color: white;
    /* background-color: #999; */
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.product-btm a{
    /* color: white; */
}
.product-btm button:hover {
    text-decoration: underline;
}
.warung-hdr{
    margin-top: 30px;
    margin-bottom: 10px;
    color: #444;
    font-weight: bold;
    font-family: verdana;
    font-size: 1em;    
}
.warung-hdr td{
    width: 200px;
}


/* warung end ------------------------------------------------ */

/* Test Carousel ------------------------------------------------ */
.carousel-wrap {
  margin: 90px auto;
  padding: 0 5%;
  width: 80%;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100; 
  -webkit-backface-visibility: hidden; 
}

/* end fix */
/* .owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
} */
/* Test Carousel End ------------------------------------------------ */

/* Slick Slider ------------------------------------------------ */
.warung-slider .slick-slide{
    border:  1px solid #999;
    margin:  0 15px;
    text-align:  center;
    position: relative;
    min-height: 400px;
}
.warung-slider h1{
    font-size: 22px;
    font-weight: 300;
    padding: 10px 0;
    color: #333;
    /* background-color: yellow; */
}
.warung-slider .img_box{
    width: 245px;
    height: 200px;    
    overflow: hidden;
}
.warung-slider img{
    /* width: 100%; */
    transition: all ease 0.5s;
    width: 245px;
    height: auto;
    margin: auto;
    display:block;
}
.warung-slider .item:hover img{
    opacity: .5;
    transform: scale(1, 1);
}
.warung-slider .item:hover a{
    /* display: inline-block; */
    /* transition: all ease 0.5s; */
    opacity: .9;
    font-weight: bold;
}
.warung-slider .item a{
    /* display: none; */
    display: inline-block;
    background: linear-gradient(to left, #ff5722, #e91e63);
    padding: 10px;
    width: 175px;
    border-radius: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    position: absolute;
    margin: 15px auto;
    bottom: 0;
    right: 30px;
}
.warung-slider .item h2{
    font-size: 20px;
    margin: 10px auto;
}
.warung-slider .item h2 del{
    font-size: 16px;
    font-weight: 200;
    float: left;
    width: 100%;
    margin-top: -5px;
    color: red;
}
.warung-slider .item h2 span{
    font-size: 16px;
    font-weight: 200;
}
.warung-slider .item h3{
    font-size: 15px;
    margin: 1px auto;
    color: gray;
    font-weight: 500;
}
.warung-slider .item h3 span{
    float: right;
    color: red;
    width: 100%;
}
.warung-slider .item p{
    padding: 5px 10px;
    color: gray;
    font-size: 14px;
    line-height: 21px; 
}
.slick-dots li.slick-active button:before{
    color: #eb235e;
    opacity: 1;
    border: 7px solid;
    border-radius: 50%;
}
.slick-dots li button:before{
    color: #eb235e;
    opacity: 1;    
}
.slick-dots li button{
    color: yellow;
    opacity: 1;    
}
/* Slick Slider End ------------------------------------------------ */
/* Warung Listing */
.warung-listing{
    /* background-color: yellow; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
    padding-left: 3px;
}
.warung-listing .warung-item{
    min-height: 450px;
}
.warung-listing .gambar{
    width: 245px;
    height: 200px;    
    overflow: hidden;
}
.warung-listing img{
    width: 100%;
}
.warung-listing h5{
    font-family: tahoma;
    font-size: 18px;
    font-weight: 500;
    color: red;
}
.warung-listing .card-text{
    font-family: verdana;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}
.warung-listing .price{
    position: absolute;
    left: 15px;
    bottom: 60px;
}
.warung-listing .stock{
    position: absolute;
    right: 15px;
    bottom: 65px;
    font-family: tahoma;
    font-size: 18px;
    font-weight: 500;
    color: blue;    
}
/* .warung-listing a, */
.warung-listing button{
    /* display: none; */
    display: inline-block;
    padding: 10px;
    width: 175px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    position: absolute;
    margin: 15px auto;
    bottom: 0;
    right: 30px;
}
.warung-listing .btn:hover{
    color: #fff;
}
/* End Warung Listing */
/* Mycart ======================================== */
.mycart .check-out{
    float: right;
    margin-bottom: 100px !important;
}
.mycart .check-out button:hover{
    color: #fff;
}
/* Mycart end ======================================== */